
bin
obj
csx
.vs
edge
Publish
.vscode

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
/Postman/node_modules
/Postman/TestResult
/AzureFunction.VstsExtension.LaunchDarkly/packages
/npm-debug.log
/AzureFunction.VstsExtension.LaunchDarkly/AzureFunction.IntegrationTests/node_modules
/AzureFunction.VstsExtension.LaunchDarkly/AzureFunction.VstsExtension.LaunchDarkly/Properties/PublishProfiles
/sync.cmd
